build/Makefile
build/CMakeFiles
build/_deps
build/compile_commands.json
build/CMakeCache.txt
build/CTestTestfile.cmake
build/cmake_install.cmake
.cache/
build/CMakeDoxygenDefaults.cmake
build/CMakeDoxyfile.in
docs/
